body {
    position: relative;
    min-height: 100vh;
    font-family: $bodyFont;
}

header {
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
    padding-top: 2em;

    background-color: white;
    color: white;

    h1 {
        font-family: $headerFont;
        letter-spacing: 1px;
        color: $darkGrey;
    }
}

main {
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;

    min-height: 300px;
    box-sizing: border-box;

    display: flex;
    gap: 5em;


   p {
        font-family: $bodyFont;
        font-size: 1em;
        line-height: 1.5em;
    }

    section {
        width: 100%;
    }
    
}

@media only screen and  (max-width: 1400px) {

    header {
        max-width: 800px;
        width: 90%;
    }
            
    main {
        gap: 5em 0;
        flex-direction: column;

        max-width: 800px;
    
       p {
            font-family: $bodyFont;
            font-size: 1em;
            line-height: 1.5em;
        }
    
        section {
            width: 100%;
        }
        
    }
}

aside {
    height: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $lightGrey;
    text-align: right;
    padding: 0.5em;
}




//Message styles
.message {
    padding: 0.3em;
    font-weight: bold;
}
.error {
    @extend .message;
    background-color: $error;
}
.success {
    @extend .message;
    background-color: $success;
}



.admin_collapsibleBtn {
    background-color: $darkGrey;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 1em;
    border-radius: 0.3em;

    //Add a arrow
    &::after {
        content: "\2B9F";
        float: right;
        transform: scale(1.25);
    }

    &:hover {
        background-color: darken($darkGrey, 20%);
        color: white;
    }
}
  
.collUp {
    border-top-right-radius: 0.2em;
    border-top-left-radius: 0.2em;

    &::after  {
        content: '\2B9D';
        float: right;
        transform: scale(1.25);

    }
}

.admin_collapsibleContent {
    display: none;
}