@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@Html.Partial("Head")

<body>

    <header>
        <div class="headerFlex">
            <div class="logoBox">
                    @if (SignInManager.IsSignedIn(User)) {
                        <a asp-controller="Admin" asp-action="Index">
                            <img src="~/Images/logoAdmin.png" alt="">
                        </a>
                    }
                    else {
                         <a asp-controller="Home" asp-action="Index">
                            <img src="~/Images/Recelogo.png" alt="">
                        </a>
                    }
            </div>
            <nav>
                <ul>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-controller="Rent" asp-action="Index">Boka</a></li>
                        <li><a asp-controller="Room" asp-action="Index">Rummen</a></li>
                        <li><a asp-controller="News" asp-action="Index">Nyheter</a></li>
                    
                    } else {
                        <li><a asp-controller="Home" asp-action="Contact">Kontakt</a></li>
                        <li><a asp-controller="Home" asp-action="Room">Våra kontorsrum</a></li>
                    }
                </ul>


            </nav>
        </div>
    </header>

    <main class="maxWidthAndCenter">
        @RenderBody()
    </main>

    <footer>
        @Html.Partial("Footer")
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
