@page
@{
    ViewData["Title"] = "Startsida";
    Layout = "_Layout";
}


<h1>Startsidan</h1>

<h2>Rödpanda</h2>
<p>
    Kattbjörn (Ailurus fulgens), mindre panda, eller röd panda är en omnivor som förekommer i bambuskogar i 
    södra Himalaya på 2 200–4 800 meters höjd. Den är inte närbesläktad med vare sig katter, björnar eller 
    jättepanda och placeras idag som ensam art i familjen Ailuridae. Djuret kännetecknas av en orangebrun päls 
    på ryggen, rödvita mönster på huvudet som liknar en ansiksmask samt en ringad svans i orangebrunt och 
    orangevitt. Kattbjörnen är allätare men växtdelar utgör huvuddelen av födan. Individerna lever ensamma 
    utanför parningstiden och kan bli 8 till 10, sällan 14 år gamla.

    <a href="https://sv.wikipedia.org/wiki/Kattbj%C3%B6rn">Källa Wikipedia</a>
</p>

<img src="~/Images/redPanda.jpg" />