@model ReceProject.Models.News

@{
    ViewData["Title"] = "Ta bort";
}

<h1>Ta bort</h1>

<article>
    <h2>Radera denna artikel?</h2>
    <hr>
    <div class="admin_Delete">
        <div class="image">
            <img src="~/uploadsNews/small_@Html.DisplayFor(model => model.ImageName)" alt="">
        </div>
        <div class="text">
            <h3> @Html.DisplayFor(model => model.Header) </h3>
            <p> @Html.DisplayFor(model => model.Text) </p>
        </div>
    </div>
</article>


<form asp-action="Delete" class="deleteFrom">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger btnDelete" />
</form>
