@{
}
<!DOCTYPE html>
<html lang="se">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/Style/main.css" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">    

    </head>

    <body>

        <header>
           <div>
                <section class="logoBox">
                    <a asp-controller="Home" asp-action="Index">
                        Moment 2
                    </a>
                </section>
                <nav>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Hem</a></li>
                        <li><a asp-controller="Home" asp-action="Guestbook">Gästbook</a></li>
                        <li><a asp-controller="Course" asp-action="Index">Kurslista</a></li>
                    </ul>
                </nav>
           </div>
        </header>

        <main>
            <h1>@ViewData["Heading"]</h1>
            @RenderBody()
        </main>

        <footer>
            <p>Av Emilia Holmström, e-post: <a href="Mailto: emho2003@student.miun.se">emho2003@student.miun.se</a> </p>
        </footer>

        <script src="~/JavaScript/JavaScript.js"></script>
    </body>




</html>