

<div>
    <img class="rocketImg" src="images/rocket.png"/> 
</div>


@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
