
.maxWidthAndCenter {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 5em;
    box-sizing: border-box;
}

.backToList {
    color: $dark;
    text-decoration: none;
    &::before { content: '<-- '}
}


h1 {
    font-family: $headerFont;
    font-size: 5em;
}