@page
@{
    ViewData["Title"] = "Om mig";
    Layout = "_Layout";
}

<h1>Om mig</h1>
<p>
    Mitt namn är Emilia och jag är en 24 åring som just nu håller jag på och läser 
    till Webbutvecklare. Fritiden spenderas på att 
    träna, spela spel, umgås med familj och vänner, speciellt min systerson på 2.5 år.
</p>
<p>Webbplatsen är skapad av Emilia Holmström </p>