
<!DOCTYPE html>
<html lang="se">
    
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="/">Startsida</a></li>
                <li><a href="/About">Om mig</a></li>
                <li><a href="/Contact">Kontakt</a></li>
            </ul>
        </nav> 

        <main>
            @RenderBody()
        </main>
        <script src="~/JS/main.js"></script>
    </body>


</html>