//Theme Colors
$darkGrey: #333;
$lightGrey: #ddd;
$lightGreyTwo: #eee;
$mediumGrey: #999;

//Message colors
$error: #e25353;
$success: #78f17e;
 
//Font
$headerFont: 'Indie Flower', Georgia, 'Times New Roman', Times, serif;
$bodyFont: 'Zen Maru Gothic', 'Open Sans', sans-serif;