footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $dark;
    color: white;

    .footerFlex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        padding: 1em;
        margin: 0 auto;
    }

    a {
        color: white;
        padding-left: 1em;
    }
}


@media only screen and (max-width: 500px) {
    .footerFlex {
        flex-direction: column;
        gap: 1em;
        align-items: stretch;

        a {
            padding-left: 0;
            padding-right: 1em;
        }
    }
}
