form {
    max-width: 600px;
    box-sizing: border-box;

    font-family: $bodyFont; 
    
    input {
        display: inline-block;
        width: 100%;
        padding: 0.5em;
        margin-bottom: 3em;
        font-size: 1em;

        border: 1px solid $grey;
        border-radius: 0.25rem;

        &:focus {
            background-color: #eee;
            outline: none;
            box-shadow: 0 0 2.5px 0 #eee;
        }

    }

    ::placeholder {
        font-style: italic;
        color: $grey;
        font-size: 0.9em;
    }

    label {
        color: #999;
        font-size: 0.9em;
    }

    input[type=submit] {
        background: $dark;
        color: white;
        border: none;
        border-radius: 0.25rem;
        padding: 1em;
        cursor: pointer;

        width: 100%;
        display: block;
        margin: 3em 0;

        &:hover {
            color: white;
            background-color: darken($dark, 20%);
        }
    }

    textarea {
        width: 100%;
        height: 150px;
        padding: 0.5em 0.2em;
        box-sizing: border-box;
        border: 2px solid $grey;
        border-radius: 4px;
        resize: none;
        font-family: $bodyFont;
        font-size: 1em;
        margin-bottom: 2.2em;
    }

}



.search {
    margin: 3em 0;
    
    form {
        max-width: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: none;

        div:first-child {
            width: 100%;
        }

        div:last-child {
            width: 200px;
        }

        input {
            display: inline;
            width: 100%;
            max-width: none;
        }
    
        input[type=submit] {
            padding: 0.5em;
            display: inline;
            margin: 0 1em;
    
        }
    }
}


.deleteFrom {
    input[type=submit] {
        background-color: white;
        border: none;
        border-radius: none;
        padding: 0;
        cursor: pointer;

        width: auto;
        display: block;
        margin: 3em 0;
        color: $dark;

        &:hover {
            color: $textColor;
            background-color: white;
        }
    }
}

.logoutForm {
    max-width: 200px;
}