form,
.formDesign {
    max-width: 600px;
    box-sizing: border-box;
    padding-bottom: 4em;
    font-family: $bodyFont;

    input {
        display: inline-block;
        width: 100%;
        padding: 0.5em;
        font-size: 1em;

        border: 1px solid $grey;
        border-radius: $BorderRadiusValue;

        &:focus {
            background-color: #eee;
            outline: none;
            box-shadow: 0 0 2.5px 0 #eee;
        }
    }

    .formMargin {
        margin-bottom: 3em;
    }

    .notToChange {
        cursor: not-allowed;

        input,
        select {
            background-color: #eee;
            pointer-events: none;
        }
    }

    ::placeholder {
        font-style: italic;
        color: $grey;
        font-size: 0.9em;
    }

    label {
        color: #999;
        font-size: 0.9em;
    }

    input[type=submit] {
        background: $dark;
        color: white;
        border: none;
        border-radius: $BorderRadiusValue;
        padding: 1em;
        cursor: pointer;

        width: 100%;
        max-width: 200px;
        float: right;
        display: block;

        &:hover {
            color: white;
            background-color: darken($dark, 20%);
        }
    }

    textarea {
        width: 100%;
        height: 150px;
        padding: 0.5em 0.2em;
        box-sizing: border-box;
        border: 2px solid $grey;
        border-radius: $BorderRadiusValue;
        resize: none;
        font-family: $bodyFont;
        font-size: 1em;
        margin-bottom: 2.2em;
    }

    .textareaBigger {
        height: 250px;
    }
}

.search {
    margin: 3em 0;

    form {
        max-width: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: none;

        div:first-child {
            width: 100%;
        }

        div:last-child {
            width: 200px;
        }

        input {
            display: inline;
            width: 100%;
            max-width: none;
        }

        input[type="submit"] {
            padding: 0.5em;
            display: inline;
            margin: 0 1em;
            float: none;
        }
    }
}

.deleteFrom {
    width: 100%;
    max-width: none;

    input[type="submit"] {
        border-radius: none;
        cursor: pointer;
        display: block;
        margin: 1em 0;
        color: $error;
        font-weight: bold;
        background-color: white;
        border-bottom: 5px solid $error;

        &:hover {
            background-color: $error;
            transition: 0.2s;
        }
    }
}

.logoutForm {
    max-width: 200px;
}
