/*Projects*/
.maxWidthAndCenter {
    max-width: 1200px;
    width: 90%;
    box-sizing: border-box;
    padding-bottom: 8em;
    margin: 0 auto;
    //margin-top: 5em;
    box-sizing: border-box;
}

.backToList {
    color: $dark;
    text-decoration: none;
}

main {
    padding-bottom: 10em;
}

h1 {
    font-family: $headerFont;
    font-size: 5em;
    margin: 0.5em 0;
    color: $dark;
}

h2, h3, h4 {
    font-family: $headerFont;
}

p, dd {
    color: $dark;
    max-width: 65ch;
    line-height: 1.5em;
    font-family: $bodyFont;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Home page

.home_top {
    display: flex;
    gap: 1em;
    align-items: center;

    margin-bottom: 5em;

    p {
        max-width: 65ch;
    }

    div {
        width: 100%;

        &:first-child {
            align-self: flex-end;
        }

        &:last-child {
            text-align: right;
            display: inline-block;
            align-self: flex-start;
        }
    }

    img {
        width: auto;
        max-height: 70vh;
        box-shadow: 50px 50px $light;
        object-fit: cover;
        margin: 1em;
        border-radius: 0.2em;
        margin-right: 1em;
    }
}


@media only screen and (max-width: 1000px) {
    .home_top {
        display: flex;
        gap: 1em;
    
        border: 2px solid grey;
        margin-bottom: 5em;
    
        div {
            width: 100%;
    
            &:last-child {
                text-align: right;
            }
        }
    
        img {
            width: 50%;
            box-shadow: 30px 30px $light;
            object-fit: cover;
            margin: 1em;
            border-radius: 0.2em;
        }
    }
    
}

.home_newsFlex {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2em;
    padding: 0.5em;
    border-radius: $BorderRadiusValue;

    .image {
        width: 100%;
        max-width: 150px;
        max-height: 150px;

        img {
            width: 100%;
            height: 100%;

            //Needed for align-items
            max-height: 150px;
            max-width: 150px;

            object-fit: cover;
        }
    }

    .text {
        width: 100%;
        min-height: 150px;
    }

    .icon {
        width: 50px;
        height: 50px;

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }

    &:hover {
        background-color: $light;
        transition: 0.2s;
    }
}

.home_RoomList {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 2em;

        width: 350px;

        text-decoration: none;
        color: $textColor;
        transition: 0.2s;

        img {
            width: 100%;
        }

        &:hover {
            transform: scale(0.95);
            transition: 0.2s;
        }
    }
}


.admin_indexList {
    display: flex;
    gap: 1em;
    text-decoration: none;
    align-items: center;

    color: $textColor;
    margin-bottom: 1em;
    border-radius: 0.25em;
    padding: 0.5em;

    position: relative;

    &:hover {
        background-color: $light;
        transition: 0.2s;
    }

    .text {
        width: 100%;
    }

    .image {
        width: 100%;
        max-width: 200px;
        height: 150px;
    }

    .icon {
        img {
            width: 50px;
            height: 50px;
        }

        &:hover {
            transform: scale(0.98);
            transition: 0.2s;
        }
    }
}

.home_roomList {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;

    .home_innerRoomList {
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-decoration: none;
        align-items: center;

        color: $textColor;
        margin-bottom: 1em;
        border-radius: 0.25em;

        position: relative;
        width: 30%;

        .text {
            width: 100%;
            position: relative;
        }

        .image {
            width: 100%;
        }
    }
}

.news_details {
    display: flex;
    flex-direction: row;
    gap: 5em;
    box-sizing: border-box;

    //Text
    div:first-child {
        max-width: 500px;
        width: 100%;
        display: inline-block;
        align-self: flex-end;
    }

    //Image
    div:last-child {
        width: 500px;
        height: 375px;
        align-self: flex-end;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1 {
        font-size: 3.5em;
    }

    .hashtags {
        color: $grey;
        font-style: italic;
    }

    .postInfo {
        border-radius: 0.5em;
        padding: 1em;
        box-sizing: border-box;
        background-color: #eee;
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 1000px) {
    .news_details {
        flex-direction: column;
        margin: 0 auto;
        max-width: 500px;
    }
}

.admin_deleteText {
    font-size: 1.5em;
    color: $error;
}

.admin_delete {
    background-color: $error;
}

.contact_iconAndText {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 2em 0;

    .image {
        max-width: 60px;
        max-height: 60px;
    }
}

.contact_image {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
}


.room_detail {

    max-width: 700px;

    .image {

        img {
            width: 700px;
            height: 525px;
            object-fit: cover;
        }

    }
}


.admin_Delete {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2em;

    .image {
        width: 100%;
        max-width: 150px;
        max-height: 150px;

        img {
            width: 100%;
            height: 100%;

            //Needed for align-items
            max-height: 150px;
            max-width: 150px;

            object-fit: cover;
        }
    }

    .text {
        width: 100%;
        display: inline-block;
        align-self: flex-end;
    }

}


.adminTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
