/*Projects*/
.maxWidthAndCenter {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 5em;
    box-sizing: border-box;
}

.backToList {
    color: $dark;
    text-decoration: none;
}

main {
    padding-bottom: 10em;
}

h1 {
    font-family: $headerFont;
    font-size: 5em;
    margin: 0.5em 0;
    color: $dark;
}

p {
    color: $dark;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Home page

.home_top {
    display: flex;
    gap: 1em;

    div {
        width: 100%;

        &:last-child {
            text-align: right;
        }
    }

    img {
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 300px;
        object-fit: cover;
        margin: 0 auto;
    }
}

.admin_newsFlex {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2em;

    .image {
        width: 100%;
        max-width: 150px;
        max-height: 150px;

        img {
            width: 100%;
            height: 100%;

            //Needed for align-items
            max-height: 150px;
            max-width: 150px;

            object-fit: cover;
        }
    }

    .text {
        width: 100%;
        min-height: 150px;
    }

    .icon {
        width: 50px;
        height: 50px;

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }

    &:hover {
        background-color: $light;
        transition: 0.2s;
    }
}

.home_RoomList {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 2em;

        width: 350px;

        text-decoration: none;
        color: $textColor;
        transition: 0.2s;

        img {
            width: 100%;
        }

        &:hover {
            transform: scale(0.95);
            transition: 0.2s;
        }
    }
}

.admin_DetailImage {
    max-width: 500px;
}

.admin_indexList {
    display: flex;
    gap: 1em;
    text-decoration: none;
    align-items: center;

    color: $textColor;
    margin-bottom: 1em;
    border-radius: 0.25em;
    padding: 0.5em;

    position: relative;

    &:hover {
        background-color: $light;
        transition: 0.2s;
    }

    .text {
        width: 100%;
    }

    .image {
        width: 100%;
        max-width: 200px;
        height: 150px;
    }

    .icon {
        img {
            width: 50px;
            height: 50px;
        }

        &:hover {
            transform: scale(0.98);
            transition: 0.2s;
        }
    }
}

.home_roomList {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;

    .home_innerRoomList {
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-decoration: none;
        align-items: center;

        color: $textColor;
        margin-bottom: 1em;
        border-radius: 0.25em;

        position: relative;
        width: 30%;

        .text {
            width: 100%;
            position: relative;
        }

        .image {
            width: 100%;
        }
    }
}

.news_details {
    gap: 5em;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    margin-top: -5em;

    div {
        max-width: 500px;
    }

    img {
        max-height: 375px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1 {
        font-size: 3.5em;
    }

    .hashtags {
        color: $grey;
        font-style: italic;
    }

    .postInfo {
        //border-top: 2.5px solid $grey;
        //border-bottom: 2.5px solid $grey;
        border-radius: 0.5em;
        padding: 1em;
        box-sizing: border-box;
        background-color: #eee;
        font-size: 0.9em;

        justify-content: bottom;
    }
}


@media only screen and (max-width: 1000px) {
    .news_details {
        flex-direction: column;
        margin: 0 auto;
        max-width: 500px;
    }
  }


.admin_deleteText {
    font-size: 1.5em;
    color: $error;
}

.admin_delete {
    background-color: $error;
}