
.frame {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 5em;
}

 
body {
    min-height: 100vh;
    margin: 0;
    display:flex; 
    flex-direction:column; 
}
 

main {


    h1 {
        margin: 1em 0 0.25em 0;
        font-size: 4em;
        font-family: $headerFont;
    }

    h2 {
        margin: 1em 0 0.25em 0;
        font-size: 2em;
        font-family: $headerFont;
        margin-top: 2em;
    }

    p {
        font-size: 1em;
        font-family: $bodyFont;
        color: $darkGrey;
        margin: 1em 0;
        max-width: 65ch;  
        line-height: 2em;   

        a {
            text-decoration: none;
            border-bottom: 1px solid;
        }
    }

    

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.3em;
    }
    
}

.list404 {
    
    margin-left: 1.2em;

    li {
        font-size: 1em;
        font-family: $bodyFont;
        color: $darkGrey;
        margin: 1em 0;
        max-width: 65ch;  
        line-height: 2em; 

        a {
          text-decoration: none;
          display: inline-block;
          
            &:hover {
                transform: scale(1.1);
            }
        }

    }
}


@media all and (max-width: 750px) {

    .frame {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    
        box-sizing: border-box;
        padding: 1em;
        margin-bottom: 5em;
    }
    
    main {
            
        h1 {
            margin: 1em 0 0.25em 0;
            font-size: 3.5em;
            font-family: $headerFont;
        }
    
        h2 {
            margin: 1em 0 0.25em 0;
            font-size: 1.5em;
            font-family: $headerFont;
            margin-top: 2em;
        }

    }
}


footer {
    margin-top: auto; 

    background-color: $darkGrey;
    color: $lightGrey;
    
    text-align: center;

    div {
        padding: 0.2em;
        max-width: 1200px;
        box-sizing: border-box;
        width: 90%;
        margin: 0 auto;
    }

    p {
        color: $lightGrey;
        font-size: 1em;
        font-family: $bodyFont;
        line-height: 2em;

        a {
            color: $lightGrey;
        }
    }
    .top {
        text-align: center;

        img {
            max-width: 75px;
            width: 100%;
            height: auto;
            border-radius: 50%;
            margin-top: 0.5em;
            padding: 0.3em;

            &:hover {
                transform: scale(1.2);
                transition: 0.3s;
            }
        }
    }


}

@media all and (max-width: 600px) {

    footer {
        display: block;
        position: relative;

        .left, .right {
            text-align: left;
            height: 100px;
            vertical-align: middle;
        }

        .left {
            position: relative;

            p {
                position: absolute;
                bottom: 0.2em;
            }
        }
        .right {
            position: relative;

            p {
                position: absolute;
                top: 0.2em;
            }
        }
        
        .center {
            position: absolute;
            top: 0;
            right: 15%;
            width: 200px;
            height: 200px;

            padding-top: 50px; /* Half the height */
            text-align: center;

            img {
                max-width: 125px;
            }
        }
    

    }
}


//Scrollbar
::-webkit-scrollbar { width: 10px; } 
::-webkit-scrollbar-track { background: $lightGrey; }
::-webkit-scrollbar-thumb { background: $mediumGrey; }
::-webkit-scrollbar-thumb:hover { background: darken($mediumGrey, 20%); }




table {
    width: 100%;
    max-width: 800px;
    border-spacing: 0;
    background-color: white;

    th {
        text-align: left;
        font-family: $headerFont;
        font-weight: bold;
        font-size: 1.2em;
        box-sizing: border-box;
        padding: 1em;
        border-bottom: 2px solid $lightGrey;
        background-color: white;
    }

    
    td {
        font-family: $bodyFont;
        font-size: 1em;
        padding: 1.5em 1.5em 1.5em 1em;
        border-bottom: 2px solid $lightGrey;
        margin: 0 0.5em;
    }

    tr:hover {
        background-color: $lightGrey;
    }
        
}





@media all and (min-width: 760px) {

    th:nth-child(3), 
    th:nth-child(4) {
        width: 100px;
        text-align: center;
    }
    td:nth-child(3), 
    td:nth-child(4) {
        width: 100px;
        text-align: center;
    }
    

}

@media all and (max-width: 750px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

    table {
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { border: 1px solid $lightGrey;
            margin-bottom: 1em;

    }
        
        td { 
            border: none;
            border-bottom: 1px solid $lightGreyTwo; 
            position: relative;
            padding-left: 40%; 
            font-size: 0.95em;
        }
        
        td:before { 
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%; 
            padding: 1em;
            padding-right: 10px; 
            white-space: nowrap;
        }

        td:nth-of-type(1):before { content: "Kursnamn:"; width: 100px;}
        td:nth-of-type(2):before { content: "Kommentar:"; width: 100px;}
        td:nth-of-type(3):before { content: "Datum:"; width: 100px;}
        td:nth-of-type(4):before { content: "Status:"; width: 100px;}
    }
	
}

@media all and (max-width: 450px) {

	table td { 
		padding-left: 50%; 
    }


    fieldset {
        padding: 2em 1em;
    }

    form input[type=submit], .deleteBtn {
        width: 44%;
    }

}

.floatRigtht {
    float: right;
}




.button {
    width: 150px;
    padding: 0.75em 1em;
    border: none;
    color: white;
    border-radius: 0.3em;
    cursor: pointer;
    background-color: $darkGrey;
    font-weight: bold;
    font-family: $bodyFont;
    margin-top: 1em;

    &:hover {
        transform: scale(0.9);
    }

}

.addBtn {
    @extend .button;
    background-color: $success;
    color: black;
    float: right;
}

.deleteBtn {
    @extend .button;
    background-color: lighten($mediumGrey, 10%);
    color: black;
}

.submitBtn {
    @extend .button;
    float: right;
}




form {
    width: 100%;

    fieldset {
        border: 2px solid $lightGrey;
        border-radius: 0.2em;
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        
        width: 100%;
        padding: 2em 3em;
    }
    
    legend {
        font-size:1.2em;
        font-family: $headerFont;
        font-weight: bold;
        padding: 0 0.2em;
    }

    label {
        font-size: 1.1em;
        font-family: $headerFont;
        font-weight: bold;
    }

    input {
        box-sizing: border-box;
        width: 100%;
        padding: 0.5em 0.3em;
        font-size: 0.9em;
        margin-bottom: 3em;
        margin-top: 0.5em;
        background-color: $lightGrey;
        border: none;
        border-radius: 0.3em;
        font-family: $bodyFont;
    }

    textarea {
        width: 100%;
        height: 150px;
        resize: none;
        box-sizing: border-box;
        padding: 0.5em;
        font-family: $bodyFont;
        background-color: $lightGrey;
        border: none;
        border-radius: 0.3em;
        margin-top: 0.3em
    }

    ::placeholder {
        color: $mediumGrey;
    }

    .inputLocked {
        background-color: $mediumGrey;
        border: 1px solid $darkGrey;
        color: $darkGrey;
        border-radius: 0.2em;
        cursor: not-allowed;
    }

    #webbpageLinkLink {
        font-family: $bodyFont;
        font-size: 1em;
        margin-top: -6em !important;
        color: $darkGrey;
    }
    

}

.loginForm {
    max-width: 500px;
    margin-top: 3em;

    label {
        color: white;
    }

    button {
        background-color: $lightGrey;
        color: $darkGrey;
        border: 0.3em;
    }
}
.adminForm {
    max-width: 600px;
}


.textFrom_imgDiv {
    max-width: 150px;
    margin-bottom: 2em;
    box-sizing: border-box;

    &:hover {
        display: inline;
        transform: scale(1.5);
        transition: 0.3s;
        cursor: pointer;
        margin-bottom: 1em;
    }

}

.admin_collapsibleBtn {
    background-color: $mediumGrey;
    color: $darkGrey;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 1em;
    border-radius: 0.3em;

    //Add a arrow
    &::after {
        content: "\2B9F";
        float: right;
        transform: scale(1.25);
    }

    &:hover {
        background-color: darken($mediumGrey, 20%);
        color: white;
    }
}
  
.collUp {
    border-top-right-radius: 0.2em;
    border-top-left-radius: 0.2em;

    &::after  {
        content: '\2B9D';
        float: right;
        transform: scale(1.25);

    }
}

.adminSections {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;

    .imgBtn {
        width: 45px;
        height: 45px;
        border: none;
        cursor: pointer;

        img, figure {
            width: 100%;
            height: 100%;
            background-color: lighten($mediumGrey, 10%);
            border: 5px solid lighten($mediumGrey, 10%);
        }
    
        &:hover {
            transform: scale(0.9);
        }
    }
}

.admin_collapsibleContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: lighten($mediumGrey, 10%);
    padding: 1.5em;
    position: relative;
    margin-top: -5px;
}

.admin_logout {
    max-width: 30px;
    max-height: 30px;
    align-items: center;
    vertical-align: middle;
    &:hover {
        transform: scale(0.9);
        transition: 0.2s;
        cursor: pointer;
    }
}


.work_sectionDesign div {
    position: relative;
    max-width: 1200px;
    min-height: 300px;
    width: 90%;
    margin: 0 auto;
    align-items: center;

    border-bottom: 2px solid $lightGreyTwo;
 
}


.work_dateTime {
    color: $mediumGrey; 
}


@media all and (min-width: 550px) {
    .work_headerSpan {
        display: none; 
    }

    .work_dateTime {
        text-align: right;
    }
    
}



.adminLists {

    p {
        font-weight: bold;
        margin-bottom: 0.2em;
    }

    ul {
        margin-left: 1em;

        li {
            font-size: 1em;
            letter-spacing: 0.5px;
            color: $darkGrey;
            font-family: $bodyFont;
            padding: 0.5em 0;
    
            &:hover {
                font-weight: bold;
                cursor: pointer;
            }

            &::after {
                content: "";
            }

        }
    }



}







.message {
    width: 95%; 
    margin: 0 auto;
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
    color: black;
    border-radius: 0.2em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
    max-width: none;  
    background-color: $message;
    border: 5px solid $messageDark;
    font-family: $bodyFont;
}

.error {
    @extend .message;
    background-color: $error;
    border: 5px solid $errorDark;
}

.success {
    @extend .message;
    background-color: $success;
    border: 5px solid $successDark;
}

.warning {
    @extend .message;
    background-color: $warning;
    border: 5px solid $warningDark;
}



.portfolio_gallery {
    width: 100%;
    height: 300px;
    background-color: $lightGrey;
}


.portfolioDiv {
    max-width: 850px;

}

.portfolioFlex {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 3em;
    flex-basis: 25%;
    align-items: center;


    div {
        margin-bottom: 3em;
        box-sizing: border-box;

        max-width: 1200px;
        height: 100%;

        h2 {
            margin-top: 0.5em;
        }

    }

    div:first-child {
        width: 75%;
    }


    div:last-child {
        max-width: 250px;
        max-height: 188px;
    }

    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        outline: 2px solid $darkGrey;
        outline-offset: -10px;

        &:hover {
            transform: scale(1.2);
            transition: 0.3s;
        }
    }
} 

@media all and (max-width: 750px) {
    .portfolioFlex {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-basis: 25%;
        align-items: center;

        flex-direction: column;
        gap: 0;
        
        border-bottom: 2px solid $lightGreyTwo;
    
        div {
            margin-bottom: 3em;
            box-sizing: border-box;
    
            max-width: 1200px;
            height: 100%;
    
            h2 {
                margin-top: 0.5em;
            }
    
        }
    
        div:first-child {
            width: 100%;
        }
    
    
        div:last-child {
            max-width: 250px;
            max-height: 188px;
        }
    
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
    
            outline: 2px solid $darkGrey;
            outline-offset: -10px;
        }
    } 
}





.index_aboutSection {
    background-color: $darkGrey;
    color: $lightGrey;

    box-sizing: border-box;
    padding: 1em 0;
}

.index_aboutDiv {
    display: flex;
    gap: 2em;
    align-items: center;

    p {
        color: $lightGrey;
    }

    div {
        width: 50%;
        height: auto;
        align-items: center;

        img {
            max-width: 400px;
            max-height: 400px;
        }
    }
}

.index_iconDiv {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 0.5em 0;

    img {
        max-width: 40px;
        max-height: 40px;
    }
}



@media all and (max-width: 750px) {
   
    .index_aboutDiv {
        flex-direction: column;
    
        div {
            width: 100%;
            height: auto;

            img {
                max-width: 400px;
                max-height: 400px;
                margin: 0 auto;
            }
        }

        div:last-child {
            text-align: center;
        }
    }
    
}

@media screen and (prefers-color-scheme: dark) { 
    .themeDark {
        background-color: $darkGrey;
    
        header {
            border-bottom: 2.5px solid $lightGrey;
    
            a {
                color: $lightGrey;
    
                &:hover {
                    color: $lightGrey;
                }
            
            }
        }
    
        .header_left {
            p {
                color: $lightGrey;
                color: $lightGrey;
            }
        }
    
        h1 {
            color: $lightGrey;
        }
    
        footer {
            background-color: $mediumGrey;
            color: $darkGrey;
            
            p, a {
                color: $darkGrey;
            }
      
        
        }
            
        @media only screen and  (max-width: 800px) {
            
            .header_right { 
                 .menuBtn { background-color: $darkGrey;}
                
                ul { background-color: $darkGrey; 
                    li #active { color: $darkGrey; }
                }
    
            }
        }
    }

}
