@model ReceProject.Models.Rent

@{
    ViewData["Title"] = "Boka rum";
}




<h1>Boka rum</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        @if (ViewBag.RoomId != null)
        {
            <label asp-for="RoomId" class="control-label"></label>
            <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
        }
        else
        {
            <p>Inga rum lediga :(</p>
        }
    </div>
    <br>
    <br>
    <div class="form-group">
        <label asp-for="Note" class="control-label"></label>
        <textarea asp-for="Note" class="form-control"></textarea>
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
