@model ReceProject.Models.Rent

@{
    ViewData["Title"] = "Ändra bokning";


    // asp-for="Phone"
}

<h1>Ändra bokning</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="formMargin">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="formMargin">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="formMargin">
        <label asp-for="Note" class="control-label"></label>
        <textarea asp-for="Note" class="form-control"></textarea>
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>

    <div class="formMargin">
        <label asp-for="RoomId" class="control-label"></label>
        <select asp-for="RoomId"class="form-control" asp-items="ViewBag.RoomID" disabled="true" ></select>
        <span asp-validation-for="RoomId" class="text-danger"></span>
    </div>

    <div class="formMargin">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}