@model momentet.Models.CourseModel
@{
    ViewData["Title"] = "Lägg till ny kurs";
    ViewData["Heading"] = "Lägg till";

}

<form method="POST">
    <!-- Error messages -->
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Code"></label>
    <input asp-for="Code" />
    <span asp-validation-for="Code"></span>

    <label asp-for="Name"></label>
    <input asp-for="Name"/>
    <span asp-validation-for="Name"></span>

    <div class="radioBox">
        <label asp-for="Progression"></label> <br>
        @Html.RadioButtonFor(model => model.Progression, "A")@Html.Label("A") <br>
        @Html.RadioButtonFor(model => model.Progression, "B")@Html.Label("B")
        <span asp-validation-for="Progression"></span>
    </div>

    <label asp-for="Url"></label>
    <input asp-for="Url" />
    <span asp-validation-for="Url"></span>

    <input type="submit" value="Lägg till" />

</form>

<partial name="_rocket" />
