
footer {
    position: absolute;
    bottom: 0;
    border-top: 2px solid #eee;

    background-color: $light;
    font-family: $bodyFont;

    padding: 1em;
    width: 100%;
    text-align: center;

    box-shadow: 0 0 15px 0 #ddd;


    a {
        color: $textColor;
    }

}