
header {
    background: $mixedDark;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 3em;
        padding: 0.5em 0;
    
    }
}

.logoBox {
    max-height: 100px;
    padding: 0.2em;


    a {
        color: white;
        text-decoration: none;
        font-size: 2.5em;
        font-family: $headerFont;
    }

    img {
        max-height: 50px;
    }
}



nav {

    padding: 1em;

    ul {
        list-style: none;
        text-align: center;

        display: flex;
        gap: 1em;
        justify-content: space-around;

        max-width: 500px;
        margin: 0 auto;
    }

    li {
        width: 125px;
        border-radius: 25%;
    }

    a {
        text-decoration: none;
        display: block;
        color: $textColor;

        width: 100%;
        padding: 0.5em;

        font-family: $bodyFont;
        color: white;

        &:hover {
            //background-color: $middle;
            //background-image: linear-gradient(to right, $middle , $light, $light, $light);
            font-weight: bold;

        }
    }
}


@media all and (max-width: 700px) {
    .logoBox {
        max-height: 50px;
        padding: 0.2em;
    
        img {
            max-height: 40px;
        }
    }
}

@media all and (max-width: 650px) {
    header {
        flex-direction: column;

        border-bottom: 2px solid $grey;
    }
    
}