@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#354f52), color-stop(#2b4043), to(#172224));
  background: linear-gradient(0.25turn, #354f52, #2b4043, #172224);
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3em;
  padding: 0.5em 0;
}

.logoBox {
  max-height: 100px;
  padding: 0.2em;
}

.logoBox a {
  color: white;
  text-decoration: none;
  font-size: 2.5em;
  font-family: "Asap", "Poiret One", Georgia, "Times New Roman", Times, serif;
}

nav {
  padding: 1em;
}

nav ul {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 500px;
  margin: 0 auto;
}

nav li {
  width: 115px;
  border-radius: 25%;
}

nav a {
  text-decoration: none;
  display: block;
  color: #333;
  width: 100%;
  padding: 0.5em;
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

@media all and (max-width: 700px) {
  .logoBox {
    padding: 0.2em;
  }
}

@media all and (max-width: 700px) {
  header div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 2px solid #ddd;
  }
  nav li {
    width: 80px;
  }
}

body {
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  overflow-y: none;
}

h1 {
  font-family: "Asap", "Poiret One", Georgia, "Times New Roman", Times, serif;
  border-left: 3px solid #84a98c;
  padding-left: 0.5em;
  margin: 1em 0;
  font-size: 2.5em;
}

h2 {
  font-family: "Asap", "Poiret One", Georgia, "Times New Roman", Times, serif;
  border-left: 3px solid #84a98c;
  padding-left: 0.5em;
  margin-bottom: 1em;
}

h3 {
  font-family: "Asap", "Poiret One", Georgia, "Times New Roman", Times, serif;
}

main {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10em;
  position: relative;
}

p, a, li {
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  font-size: 1em;
}

.guestBookFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
}

.guestBookFlex section {
  width: 500px;
  margin-bottom: 2em;
}

.guestBookFlex h3 {
  margin-top: 1em;
}

.guestBookFlex .guestbook_topBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}

.guestbookArticle {
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
}

.courseList article {
  margin: 2em 0;
}

.rocket {
  position: absolute;
  width: 100px;
  height: auto;
  top: 10rem;
  right: 10%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  position: absolute;
  bottom: 0;
  border-top: 2px solid #eee;
  background-color: #cad2c5;
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  padding: 1em;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0 0 15px 0 #ddd;
          box-shadow: 0 0 15px 0 #ddd;
  background: -webkit-gradient(linear, left top, right top, from(#354f52), color-stop(#2b4043), to(#172224));
  background: linear-gradient(0.25turn, #354f52, #2b4043, #172224);
  color: white;
  margin-top: 5em;
}

footer a {
  color: #333;
  color: white;
}

form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2em 0;
  max-width: 500px;
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
}

form input {
  display: inline-block;
  width: 100%;
  padding: 0.5em 0;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #ddd;
}

form input:focus {
  background-color: #eee;
  outline: none;
  -webkit-box-shadow: 0 0 2.5px 0 #eee;
          box-shadow: 0 0 2.5px 0 #eee;
}

form label {
  color: #999;
  font-size: 0.9em;
}

form input[type=submit] {
  background: #354f52;
  color: white;
  border: none;
  border-radius: 5em;
  padding: 1em;
  cursor: pointer;
  max-width: 300px;
  width: 80%;
  margin: 0 auto;
  display: block;
}

form input[type=submit]:hover {
  background-color: #0d1314;
}

form .radioBox input[type=radio] {
  width: auto;
  margin: 0.5em 0.1em;
}

form select {
  font-size: 1.1em;
  padding: 0.5em;
  width: 100%;
  margin-top: 0.3em;
  margin-bottom: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  border: 1px solid #ddd;
}

form span {
  display: inline-block;
  width: 100%;
  color: #cd0000;
  margin-bottom: 2em;
  font-size: 0.9em;
  font-weight: bold;
}

form textarea {
  width: 100%;
  height: 150px;
  padding: 0.5em 0.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 4px;
  resize: none;
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  font-size: 1em;
}

table {
  width: 100%;
  max-width: 800px;
  border-spacing: 0;
  margin: 2em 0;
  background-color: #354f52;
  color: white;
}

table th {
  text-align: left;
  font-family: "Asap", "Poiret One", Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  background-color: #172224;
}

table td {
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  font-size: 1em;
  padding: 1em;
}

table tr {
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
}

table tr:nth-child(even) {
  background-color: #2b4043;
}

table a {
  color: white;
}

@media all and (max-width: 600px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table tr {
    border: 1px solid #ddd;
    margin-bottom: 1em;
  }
  table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 40%;
    font-size: 0.95em;
  }
  table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding: 1em;
    padding-right: 10px;
    white-space: nowrap;
  }
  table td:nth-of-type(1):before {
    content: "Kurskod:";
    width: 100px;
  }
  table td:nth-of-type(2):before {
    content: "Namn:";
    width: 100px;
  }
  table td:nth-of-type(3):before {
    content: "Progressation:";
    width: 100px;
  }
  table td:nth-of-type(4):before {
    content: "Länk:";
    width: 100px;
  }
}

@media all and (max-width: 450px) {
  table td {
    padding-left: 50%;
  }
}
/*# sourceMappingURL=main.css.map */