@model List<momentet.Models.CourseModel>

@{
    ViewData["Title"] = "Om mig";
    ViewData["Heading"] = "Om mig";
}

<p>Jag är en student, här är några kurser jag läst</p>

@if(Model != null) {
    @foreach(var course in Model) {
        <li>@course.Name</li>
    }
}