@{
    ViewData["Title"] = "Kontakt";
    Layout = "PublicLayout";
}

<h1>@ViewData["Title"]</h1>

<article class="contact_iconAndText">
    <div class="image">
        <img src="~/Images/iconPhone.png" alt="Telefon">
    </div>
    <div class="text">
        <p>Telefon: 0763230321</p>
    </div>
</article>

<article class="contact_iconAndText">
    <div class="image">
        <img src="~/Images/iconMail.png" alt="Mail">
    </div>
    <div class="text">
        <p>hej@rece.se</p>
    </div>
</article>

<article class="contact_iconAndText">
    <div class="image">
        <img src="~/Images/iconMap.png" alt="Adress">
    </div>
    <div class="text">
        <p> Rece AB <br> Någonstans 34I <br> 000 11 Världen </p>
    </div>
</article>


<img class="contact_image" src="~/images/office.jpg" alt="">
