@model IEnumerable<ReceProject.Models.News>

@{
    ViewData["Title"] = "Startsida";
    Layout = "PublicLayout";
}


<section class="home_top">

    <div>
        <h1>Hi</h1>
        <p>
            Trött på att sitta hemma? Eller är kontoret alldeles för stökigt för att få något gjort? Varför inte ta och
            boka
            ett litet arbetsrum hos oss i några timmar och få både en ny och härlig arbetsmiljö med garanterad tystnad?
        </p>
    </div>
    <div>
        <img src="~/Images/kazantceva.jpg" alt="">
    </div>

</section>


<section class="home_news">

    <h2>Neheter</h2>
    <hr>

    @foreach (var item in Model.Reverse().Take(3))
    {
        <article class="home_newsFlex">
            <div class="image">
                <img src="uploadsNews/@Html.DisplayFor(modelItem => item.ImageName)" alt="">

            </div>
            <div class="text">
                <h3> @Html.DisplayFor(modelItem => item.Header) </h3>
                <p> @Html.DisplayFor(modelItem => item.Text) </p>
                <p> @Html.DisplayFor(modelItem => item.Hashtags) </p>
                <p> @Html.ActionLink("Läs mera", "Details", "News", new {Id=item.Id}) </p>
            </div>
        </article>
    }

</section>
